@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,200,300,400,550,600,700);
body{
 
 font-family: 'Open Sans', sans-serif;  
}

.num-comments{
  margin-bottom: 12px;
  color: #8D8D8D
}

.new-comment{
  width:100%;
  height: 56px;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
}

.submit-comment {
  margin-top: 5px;
  border-radius: 9999px;
  padding: 10px 16px;
  background-color: #00BA1A;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.submit-comment:hover{
  background-color: #00D31D
}

hr{
  margin: 20px 0px;
  border-top: #E5E5E5 1px solid ;
}

.comment-list{
  list-style-type: none;
  
}

.comment-info{
  margin-top: 32px;
  margin-bottom: 16px;
}

.comment-user{
  text-decoration: none;
  color: #000000;
}

.comment-user:hover{
  text-decoration: underline;
}

.middle-dot{
  display: inline-block;
  margin: 0 2px;
  color: #8D8D8D;
}

.comment-date{
  display: inline-block;
  color: #8D8D8D;
}

.comment-toolbar{
  color: #8D8D8D;
  margin-top: 5px;
}

.comment-toolbar a{
  color: #8D8D8D;
  text-decoration: none;
}

.comment-toolbar a:hover{
  text-decoration: underline;
}