.menu-bar-container{
  background-color: #fff;
  max-height: calc(100vh - 20px);
  position: sticky;
  top: 0;
  z-index: 1;
}

@media only screen and (min-width: 640px) {
  .menu-bar-container {
    top:56px;
  }
}

@media only screen and (min-width: 1280px) {
  .menu-bar-container {
    top:73px;
  }
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  padding-top: 5px;
 
}

.menu-bar button {
  font-size: 18px;
  margin: 7px;
  margin-right: 15px;
  outline: none;
  border: none;
  background: none;
  color: rgba(70, 70, 70);
  cursor: pointer;
}

.menu-bar button.is-active {
  background: rgb(197, 197, 197);
  padding: 2px 3px;
}

.ProseMirror {
  padding: 10px;
  padding-top: 20px;
  background: white;
  border-radius: 0 0 5px 5px;
  min-height: 400px;
  border: 1px solid grey;
  border-top: none;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: #c6c6c6;
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid #9c9c9c;
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid #9c9c9c;
  margin: 2rem 0;
}
